.starContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.star {
    width: 3em;
    height: auto;
}

.starouterdiv {
    display: inline-flex;
}