h1 {
    font-size: var(--font-size-title);
    font-family: 'Poppins';
    font-weight: 600;
}

@media (max-width: 768px) {
    .Title {
        width: 90%;
    }
    .name {
        font-size: var(--font-size-title-mobile);
    }
}

.name {
    font-style: normal; /* Non-italic */
    /* font-weight: bold; */
    color: var(--text-col);
    background: linear-gradient(120deg, var(--gradient-red), var(--gradient-yellow), var(--gradient-green), var(--gradient-cyan), var(--gradient-pink));
    background-size: 300% 300%;
    animation: shine 15s ease-in-out infinite, colorChange 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 1;
}

@keyframes shine {
    0% { background-position: 300% center; }
    100% { background-position: -300% center; }
}

@keyframes colorChange {
    0%, 100% { color: var(--gradient-red); }
    20% { color: var(--gradient-yellow); }
    40% { color: var(--gradient-green); }
    60% { color: var(--gradient-cyan); }  
    80% { color: var(--gradient-pink); }
}

.pronunciation {
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    font-size: var(--font-size-pronunciation);
    color: var(--pronunciation-col);
    margin-bottom: 0.5em;
    align-self:flex-end;
}

.descriptions {
    align-self: flex-start;
    margin: 0px;
    font-size: var(--font-size-description);
}

@media (max-width: 768px) {
    .pronunciation {
        font-size: var(--font-size-pronunciation-mobile);
    }
    .descriptions {
        font-size: var(--font-size-description-mobile);
    }
}
