
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --background-col: #090910; /* 101014 bluish gray */
    --text-col: #f1f1f1;
    --pronunciation-col: #313131;
    --link-col: hsl(0, 0%, 69%);
    --gray: #474747;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;; 
    background-color: var(--background-col);
    color: var(--text-col);
}

a {
    color:var(--link-col);
}
a:hover {
    background: linear-gradient(120deg, #ffa69e, #fff48f, #b1cb92, #bbf7ff, #ffc5c0);
    background-size: 300% 300%;
    animation: shine 10s ease-in-out infinite, colorChange 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#shining {
  font-style: normal;
  background: linear-gradient(120deg, #ffa69e, #fff48f, #b1cb92, #bbf7ff, #ffc5c0);
  background-size: 300% 300%;
  animation: shine 30s ease-in-out infinite, colorChange 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#underline {
  font-style: normal;
  text-decoration: underline;
}

@keyframes shine {
    0% { background-position: 300% center; }
    100% { background-position: -300% center; }
}

@keyframes colorChange {
    0%, 100% { color: #ffa69e; } /* Reddish-orange */
    20% { color: #fff48f; } /* Yellow */
    40% { color: #b1cb92; } /* Light green */
    60% { color: #bbf7ff; } /* Cyan */  
    80% { color: #ffc5c0; } /* Reddish-orange */
}

@media (max-width: 768px) {
    body {
        font-size: 0.65em;
    }
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  